body {
  padding: 0;
  margin: 0;
}

#root {
  border: solid black 2px;
  background-color: azure;
  height: 100%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.list-group-item {
  word-wrap: break-word;
}
